<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de Arquivos de Projeto<div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="pf in projectFiles">
                                 <td>{{pf.name}}</td>
                                 <td>{{pf.description | limitTo:30}}</td>
                                 <td>
                                     <project-file-download id-file="{{pf.id}}"></project-file-download>
                                 </td>
                                 <td><a ng-href="#/project/{{pf.project_id}}/files/{{pf.id}}/edit">
                                        Edit
                                     </a> |
                                     <a ng-href="#/project/{{pf.project_id}}/files/{{pf.id}}/remove">
                                        Excluir
                                     </a>
                                 </td>
                             </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

